<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/header.html :: fragment-header"></div>
    <title>게시글</title>
</head>

<body>
<div th:replace="layout/navbar.html :: fragment-navbar"></div>
<div class="container py-4">
    <h1>게시글</h1>
    <div class="col-md-12">
        <div class="row">
            <div th:object="${postsDto}">
                <div class="border-bottom border-2">
                    <div class="p-2 border-top border-bottom border-4" style="background-color: #e3e3e3">
                        <div class="d-flex flex-row">
                            <div type="text" class="col-8 align-self-center" style="font-size: 1.8rem" th:text="*{title}" id="title"></div>
                            <span class="col-4 text-end align-self-center"  th:text="${#temporals.format(postsDto.createdDate,'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div>
                        작성자:<span type="text" class="p-2" id="author"th:text="*{author}"></span>
                    </div>
                </div>

                <div class="m-2">
                    <div id="content"  class="p-2 m-2 border" th:text="*{content}" ></div>
                </div>
                </br>
                <form action="/"  method="post">
                    <input type="hidden" name="id" th:value="${postId}">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                </form>
                <a href="/posts/list/" class="btn btn-secondary" role="button"> 목록 </a>
                <a href="/posts/edit/" class="btn btn-secondary editBtn" role="button"> 수정 </a>
                <button class="btn btn-secondary removeBtn" role="button"> 삭제 </button>
            </div>
        </div>
</div>
</div>
<div th:replace="layout/footer.html :: fragment-footer"></div>
<script th:inline="javascript">
    var actionForm = $('form');

    $(".removeBtn").click(function(){
        actionForm.attr("action", "/posts/delete/")
            .attr("method", "post");

        actionForm.submit();
    })
</script>


</body>

</html>