<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/header.html :: fragment-header"></div>
    <title>등록 페이지</title>
</head>

<body>
<div th:replace="layout/navbar.html :: fragment-navbar"></div>
<div class="container py-4">
    <h1>게시글 등록</h1>
    <div class="col-md-12">
        <div class="">
            <form action="save" th:object="${postsDto}" method="post">
                <div class="form-group">
                    <label for="title"> 제목 </label>
                    <div class="alert alert-danger" th:errors="*{title}">
                        제목을 입력하지 않을경우 나타나는 에러
                    </div>
                    <input type="text"  class="form-control" th:field="*{title}" id="title" placeholder="제목.."   >
                </div>
                </br>
                <div class="form-group">
                    <label for="author">작성자</label>
                    <div class="alert alert-danger" th:errors="*{author}">
                        작성자를 입력하지 않을경우 나타나는 에러
                    </div>
                    <input type="text" class="form-control" id="author"th:field="*{author}"  placeholder="작성자..">
                </div>
                </br>
                <div class="form-group">
                    <label for="content">내용</label>
                    <div class="alert alert-danger" th:errors="*{content}">
                        아무것도 입력하지 않을경우 나타나는 에러
                    </div>
                    <textarea id="content"  class="form-control"th:field="*{content}"  placeholder="입력.."></textarea>
                </div>
                </br>
            <button class="btn btn-primary" id="submit" type="submit">등록</button>
            <a href="/" class="btn btn-secondary" role="button"> 취소 </a>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout/footer.html :: fragment-footer"></div>
</body>

</html>